name: Test Suite
on: [pull_request]

jobs:
  call-inclusive-naming-check:
    name: Inclusive naming
    uses: canonical/inclusive-naming/.github/workflows/woke.yaml@main
    with:
      fail-on-error: "true"

  lint-unit:
    name: Lint Unit
    uses: charmed-kubernetes/workflows/.github/workflows/lint-unit.yaml@main
    needs:
      - call-inclusive-naming-check
    with:
      python: "['3.10', '3.12']"

  integration-test:
    name: Integration tests
    runs-on: ubuntu-latest
    needs:
      - lint-unit
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.12
    - name: Read charmcraft version file
      id: charmcraft
      run: echo "channel=$(cat .charmcraft-channel)" >> $GITHUB_OUTPUT
    - name: Setup operator environment
      uses: charmed-kubernetes/actions-operator@main
      with:
        provider: microk8s
        channel: 1.34-strict/stable
        charmcraft-channel: ${{ steps.charmcraft.outputs.channel }}
    - name: Run test
      run: tox -e integration
    - name: Setup Debug Artifact Collection
      if: ${{ failure() }}
      run: mkdir tmp
    - name: Collect Juju Status
      if: ${{ failure() }}
      run: |
        juju status 2>&1 | tee tmp/juju-status.txt
    - name: Collect Juju logs for gatekeeper-manager-operator
      if: ${{ failure() }}
      run: sudo juju debug-log --replay --no-tail -i gatekeeper-manager-operator | tee tmp/unit-gatekeeper-manager-operator-0.log
    - name: Upload debug artifacts
      if: ${{ failure() }}
      uses: actions/upload-artifact@v4
      with:
        name: test-run-artifacts
        path: tmp
